.zoom_container {
  border: 2px solid black;
  width: 700px;
  height: 500px;
  position: relative;
}

.zoom_img {
  transform-origin: 0% 0%;
  position: absolute;
  max-width: 300px;
  max-height: 300px;
}

.zoom_slider {
  background-color: gray;
  width: 400px;
}
